### Importação dos dados

In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\david\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\david\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [3]:
print(loja.columns)
print(loja.info)

Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')
<bound method DataFrame.info of                     Produto Categoria do Produto    Preço      Frete  \
0        Assistente virtual          eletronicos   219.08   9.249790
1            Mesa de jantar               moveis   256.35  11.234305
2         Jogo de tabuleiro           brinquedos   279.51  21.262681
3               Micro-ondas     eletrodomesticos  1009.99  54.667344
4     Cadeira de escritório               moveis   446.99  26.964689
...                     ...                  ...      ...        ...
2354       Celular Plus X42          eletronicos  1712.54  88.772042
2355             Impressora          eletronicos   377.02  20.363958
2356      Jogo de tabuleiro           brinquedos   163.82   9.611337
2357               Cama box               moveis   921.77  46.665919
2358             Smartwatch          eletronicos   259.95  11.425995

     Data da Compra        Vendedor Local da compra  Avaliação da compra  \
0        16/01/2021     Pedro Gomes              SP                    4
1        18/05/2022  Beatriz Moraes              RJ                    1
2        15/03/2021      João Souza              DF                    1
3        03/05/2022      João Souza              RS                    4
4        07/11/2020   Larissa Alves              MG                    5
...             ...             ...             ...                  ...
2354     15/11/2021    Thiago Silva              RJ                    1
2355     18/03/2023  Lucas Oliveira              SP                    5
2356     06/07/2021  Lucas Oliveira              PR                    5
2357     02/05/2022     Pedro Gomes              RN                    1
2358     18/06/2022   Felipe Santos              RS                    4

     Tipo de pagamento  Quantidade de parcelas    lat    lon
0       cartao_credito                       8 -22.19 -48.79
1       cartao_credito                       4 -22.25 -42.66
2       cartao_credito                       1 -15.83 -47.86
3               boleto                       1 -30.17 -53.50
4               boleto                       1 -18.10 -44.38
...                ...                     ...    ...    ...
2354            boleto                       1 -22.25 -42.66
2355            boleto                       1 -22.19 -48.79
2356    cartao_credito                       4 -24.89 -51.55
2357    cartao_credito                       2  -5.81 -36.59
2358    cartao_credito                       1 -30.17 -53.50

[2359 rows x 12 columns]>

In [ ]:
print(loja2.columns)
print(loja2.info)

In [ ]:
print(loja3.columns)
print(loja3.info)

In [ ]:
print(loja4.columns)
print(loja4.info)

In [4]:
lojas = [loja,loja2,loja3,loja4]

#1. Análise do faturamento

1534509.12

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja

# 6. Avaliação