### Importação dos dados

In [10]:
! pip install pandas
! pip install openpyxl
! pip install numpy

Requirement already satisfied: pandas in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\david\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\david\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\david\appdata\local\programs\python\python313\lib\site-packages (2.2.5)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

In [12]:
lojas = [loja,loja2,loja3,loja4]
ind = 0

#1. Análise do faturamento

In [13]:
Faturamento_l1 = sum(lojas[0]['Preço'])
Faturamento_l2 = sum(lojas[1]['Preço'])
Faturamento_l3 = sum(lojas[2]['Preço'])
Faturamento_l4 = sum(lojas[3]['Preço'])
Faturamento_total = 0

In [14]:
while ind < len(lojas):
    Faturamento_total = Faturamento_total + sum(lojas[ind]['Preço'])
    ind = ind + 1

In [15]:
print(Faturamento_total)

5871490.79

In [16]:
pd.Index(loja)

Index([         ('Assistente virtual', 'eletronicos', 219.08, 9.2497899853, '16/01/2021', 'Pedro Gomes', 'SP', 4, 'cartao_credito', 8, -22.19, -48.79),
                     ('Mesa de jantar', 'moveis', 256.35, 11.2343053621, '18/05/2022', 'Beatriz Moraes', 'RJ', 1, 'cartao_credito', 4, -22.25, -42.66),
                  ('Jogo de tabuleiro', 'brinquedos', 279.51, 21.2626809863, '15/03/2021', 'João Souza', 'DF', 1, 'cartao_credito', 1, -15.83, -47.86),
                          ('Micro-ondas', 'eletrodomesticos', 1009.99, 54.6673442173, '03/05/2022', 'João Souza', 'RS', 4, 'boleto', 1, -30.17, -53.5),
                        ('Cadeira de escritório', 'moveis', 446.99, 26.9646890964, '07/11/2020', 'Larissa Alves', 'MG', 5, 'boleto', 1, -18.1, -44.38),
                                    ('Blocos de montar', 'brinquedos', 32.26, 0.0, '03/12/2020', 'Beatriz Moraes', 'RS', 5, 'cupom', 1, -30.17, -53.5),
                                            ('Boneca bebê', 'brinquedos', 58.9, 0.0, '07/08/2021', 'João Souza', 'SP', 3, 'boleto', 1, -22.19, -48.79),
               ('Lava louças', 'eletrodomesticos', 1586.23, 84.9930800049, '18/06/2021', 'Felipe Santos', 'CE', 5, 'cartao_credito', 10, -5.2, -39.53),
       ('Lavadora de roupas', 'eletrodomesticos', 2024.31, 105.3728566247, '08/01/2022', 'Thiago Silva', 'SP', 1, 'cartao_credito', 5, -22.19, -48.79),
                 ('Carrinho controle remoto', 'brinquedos', 100.26, 6.737658724, '24/02/2020', 'Beatriz Moraes', 'SP', 5, 'boleto', 1, -22.19, -48.79),
       ...
                              ('Faqueiro', 'utilidades domesticas', 47.63, 0.0, '29/06/2020', 'Isabella Pereira', 'MG', 4, 'boleto', 1, -18.1, -44.38),
                  ('Carrinho controle remoto', 'brinquedos', 91.81, 2.4730453648, '05/03/2023', 'Larissa Alves', 'RJ', 5, 'boleto', 1, -22.25, -42.66),
              ('Cadeira de escritório', 'moveis', 652.36, 37.9000237605, '10/12/2020', 'Lucas Oliveira', 'SP', 5, 'cartao_credito', 2, -22.19, -48.79),
                                     ('Cama king', 'moveis', 677.19, 43.856381348, '10/02/2021', 'Rafael Costa', 'RJ', 5, 'boleto', 1, -22.25, -42.66),
                       ('Faqueiro', 'utilidades domesticas', 53.95, 0.0, '30/12/2022', 'Lucas Oliveira', 'SP', 5, 'cartao_credito', 1, -22.19, -48.79),
                       ('Celular Plus X42', 'eletronicos', 1712.54, 88.7720420547, '15/11/2021', 'Thiago Silva', 'RJ', 1, 'boleto', 1, -22.25, -42.66),
                            ('Impressora', 'eletronicos', 377.02, 20.3639575838, '18/03/2023', 'Lucas Oliveira', 'SP', 5, 'boleto', 1, -22.19, -48.79),
               ('Jogo de tabuleiro', 'brinquedos', 163.82, 9.6113373383, '06/07/2021', 'Lucas Oliveira', 'PR', 5, 'cartao_credito', 4, -24.89, -51.55),
                               ('Cama box', 'moveis', 921.77, 46.6659185101, '02/05/2022', 'Pedro Gomes', 'RN', 1, 'cartao_credito', 2, -5.81, -36.59),
                      ('Smartwatch', 'eletronicos', 259.95, 11.4259945318, '18/06/2022', 'Felipe Santos', 'RS', 4, 'cartao_credito', 1, -30.17, -53.5)],
      dtype='object', length=2359)

# 2. Vendas por Categoria

In [17]:
Categorias = []
Faturamento_per_cat = {}

In [18]:
for i in range(len(lojas)):
    for categoria in lojas[i]['Categoria do Produto']:
        if categoria not in Categorias:
            Categorias.append(categoria)

In [19]:
len(Categorias)

8

In [ ]:
Categorias = ['eletronicos', 'moveis', 'brinquedos', 'eletrodomesticos', 
              'utilidades domesticas', 'esporte e lazer', 'livros', 'instrumentos musicais']

faturamento = {categoria: 0 for categoria in Categorias}

print(faturamento)

{'eletronicos': 0, 'moveis': 0, 'brinquedos': 0, 'eletrodomesticos': 0, 'utilidades domesticas': 0, 'esporte e lazer': 0, 'livros': 0, 'instrumentos musicais': 0}

In [43]:
todas_as_lojas = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

# Agrupa por categoria e soma os valores da coluna "Preço"
faturamento_por_categoria = todas_as_lojas.groupby("Categoria do Produto")["Preço"].sum()

# Converte o resultado para dicionário
faturamento_dict = faturamento_por_categoria.to_dict()

# Exibe o dicionário
print(faturamento_dict)

print (faturamento_por_categoria)

{'brinquedos': 98140.86, 'eletrodomesticos': 1766337.03, 'eletronicos': 2214099.72, 'esporte e lazer': 190635.39, 'instrumentos musicais': 465029.67, 'livros': 50260.74, 'moveis': 1010214.0, 'utilidades domesticas': 76773.38}
Categoria do Produto
brinquedos                 98140.86
eletrodomesticos         1766337.03
eletronicos              2214099.72
esporte e lazer           190635.39
instrumentos musicais     465029.67
livros                     50260.74
moveis                   1010214.00
utilidades domesticas      76773.38
Name: Preço, dtype: float64

# 3. Média de Avaliação das Lojas

In [ ]:
Avaliação_1 = sum(lojas[0]['Avaliação do Produto']
Avaliação_2 = sum(lojas[1]['Preço'])
Avaliação_3 = sum(lojas[2]['Preço'])
Avaliação_4 = sum(lojas[3]['Preço'])

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja

# 6. Avaliação